.registrarse-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 270px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 0 auto;
}

.registro-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-form button {
    padding: 10px;
    background: #68d2ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.registro-form button:hover {
    background: #42bfff;
}

.mensaje {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
